:root {
    --primary-color: #f05123;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #666;
    --text-color: #333;
    --plum-color: #b80257;
    --fb-color: #4080ff;
    --mail-color: #f47425;
    --first-color: #1dbfaf;
    --second-color: #1dbfaf;
    --button-color: #1dbfaf;
    --button-image: linear-gradient(180deg, #1dbfaf, #1dbfaf 50%, #1dbfaf);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Open Sans, sans-serif;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

@keyframes Uptodown {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.2, 1.2);
    }
    /* 100% {
        transform: scale(1, 1);
    } */
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}